
.button {

	-fx-pref-width: 150px;
}

#vBox {
	-fx-border-style: solid;
}

#gridPane {
	-fx-border-style: solid;
}

#menuBtn {
	-fx-background-color: gainsboro;

}

#menuBtn:hover {
	-fx-font: bold italic 12pt "Helvetica";
	-fx-text-fill: blue;
	-fx-underline: true;

}

#menuBtn:pressed {
	-fx-font: bold italic 12pt "Helvetica";
	-fx-text-fill: blue;
	-fx-underline: true;

}

.button.active {
	-fx-border-color: grey;
	-fx-background-color: #f8ecc2;
	-fx-font: bold italic 11pt "Helvetica";

}

